// GH Pages template overrides
a
  color: rgb(139, 133, 221)

// HoH Stuff
header

  img.logo
    max-height: 3.25em
    float: left
    margin-right: 10px

section

  p.meta
    font-size: 0.75em
    color: #777
    font-weight: normal

  h1
    font-size: 1.5em

  h2

    p.meta
      padding-top: 5px
      padding-bottom: 10px

  img
    padding: 4px
    border: 1px solid #EEE