.network
  %p
    %small See also
  %ul
    %li
      %a(href="https://twitter.com/HOHeroku")
        %img(width="25" src="#{image_path('twitter.png')}")
        @HOHeroku
    %li
      %a(href="http://www.miyagijournal.com")
        %img(width="25" src="#{image_path('miyagi.png')}")
        The Miyagi Journal
    %li
      %a(href="/articles.atom")
        %img(width="25" src="#{image_path('feed.png')}")
        Article feed
%p
  %small
    Higher Order Heroku is an <a href="https://twitter.com/rwdaigle">@rwdaigle</a> project running on <a href="http://heroku.com">Heroku</a>.
    Theme by <a href="https://github.com/orderedlist">orderedlist</a>.