%h5
  %strong →
  %a(href="http://mad.ly/signups/72042/join") Subscribe to the Heroku Weekly
  to get the best of the Heroku community in your inbox. Every weekish.

%h5
  %strong →
  %a(href="https://hoheroku.wufoo.com/forms/z1ud198f00dvgsx/" onclick="window.open(this.href,  null, 'height=320, width=680, toolbar=0, location=0, status=1, scrollbars=1, resizable=1'); return false") Submit a link
  for inclusion on Higher Order Heroku and in the Heroku Weekly.
/ %form(action="https://madmimi.com/signups/subscribe/72029" method="post" id="mad_mimi_signup_form" target="_blank")
/   .mimi_field.text.email.required
/     %input(id="signup_email" name="signup[email]" type="text" placeholder="you@email.com + ⏎" class="required")
/   .mimi_field.action
/     %input(id="webform_submit_button" value="Go" type="submit" class="submit" data-default-text="Sign up!" data-submitting-text="Sending…" data-invalid-text="↑ You forgot some required fields")
