%h5
  %strong →
  Subscribe to the
  %a(href="http://mad.ly/signups/72042/join") Heroku Weekly
  to get the best of the Heroku community in your inbox. Every week.
/ %form(action="https://madmimi.com/signups/subscribe/72029" method="post" id="mad_mimi_signup_form" target="_blank")
/   .mimi_field.text.email.required
/     %input(id="signup_email" name="signup[email]" type="text" placeholder="you@email.com + ⏎" class="required")
/   .mimi_field.action
/     %input(id="webform_submit_button" value="Go" type="submit" class="submit" data-default-text="Sign up!" data-submitting-text="Sending…" data-invalid-text="↑ You forgot some required fields")