- content_for(:page_title, "Developing on the Heroku platform")

- for entry in coalesce(articles, links)
  - if(link_entry?(entry))
    %h1.link
      = link_to(entry.data['title'], entry.data['url'])
  - else
    %h1
      = link_to(entry.data['title'], entry)
      %p.meta= entry.data['date']